openapi: 3.0.0
info:
  title: Auto-updated pricedb for Iranian Rial (IRR) exchange rates in Iran's free market
  version: 0.1.1
servers:
  - description: Production Server
    url: https://api.priceto.day/v1
paths:
  /symbols:
    get:
      summary: Get list of currencies
      description: Get list of currencies that are supported by the API
      tags: [Symbols]
      operationId: getSymbols
      responses:
        '200':
          description: Successful operation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Symbol'
        '500':
          description: Server error
  /latest/{base}/{symbol}:
    get:
      summary: Get latest price of a symbol
      description: Get latest price of a symbol
      tags: [Symbols]
      operationId: getLatestPrice
      parameters:
        - name: base
          in: path
          required: true
          example: irr
          schema:
            type: string
        - name: symbol
          in: path
          required: true
          example: usd
          schema:
            type: string
      responses:
        '200':
          description: successful operation
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/LatestResponse'
        '404':
          description: No data found for this base and symbol
        '500':
          description: Server error
  /history/{base}/{symbol}:
    get:
      summary: Get the history of a symbol
      description: Get the history of a symbol
      tags: [Symbols]
      operationId: getHistory
      parameters:
        - name: base
          in: path
          required: true
          example: irr
          schema:
            type: string
        - name: symbol
          in: path
          required: true
          example: usd
          schema:
            type: string
        - name: from
          in: query
          required: false
          example: "2023-04-14T00:00:00Z"
          schema:
            type: string
            format: date-time
        - name: to
          in: query
          required: false
          example: "2023-04-27T00:00:00Z"
          schema:
            type: string
            format: date-time
      responses:
        '200':
          description: successful operation
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/HistoryResponse'
        '404':
          description: No data found for this base and symbol
        '500':
          description: Server error
  /chart/{base}/{symbol}:
    get:
      summary: Get the chart of a symbol
      description: Get the chart of a symbol
      tags: [Symbols]
      operationId: getChart
      parameters:
        - name: base
          in: path
          required: true
          example: irr
          schema:
            type: string
        - name: symbol
          in: path
          required: true
          example: usd
          schema:
            type: string
        - name: from
          in: query
          required: false
          example: "2023-04-14T00:00:00Z"
          schema:
            type: string
            format: date-time
        - name: to
          in: query
          required: false
          example: "2023-04-27T00:00:00Z"
          schema:
            type: string
            format: date-time
        - name: title
          in: query
          required: false
          example: "Chart Title"
          schema:
            type: string
        - name: trimDigits
          in: query
          required: false
          example: 4
          schema:
            type: number
      responses:
        '200':
          description: successful operation
          content:
            image/jpeg:
              schema:
                type: string
                format: binary
        '404':
          description: No data found for this base and symbol
        '500':
          description: Server error
tags:
  - name: Symbols
    description: Operations about symbols
components:
  schemas:
    Symbol:
      type: object
      properties:
        success:
          type: boolean
          example: true
        symbols:
          type: array
          items:
            type: string
          example: ["usd", "eur", "irr"]
    HistoryResponse:
      type: object
      properties:
        success:
          type: boolean
          example: true
        result:
          type: array
          items:
            type: object
            properties:
              price:
                type: integer
                format: int64
                example: 10
              high:
                type: integer
                format: int64
                example: 20
              low:
                type: integer
                format: int32
                example: 5
              time:
                type: string
                format: date-time
    LatestResponse:
      type: object
      properties:
        success:
          type: boolean
          example: true
        price:
          type: integer
          format: int64
          example: 10
        high:
          type: integer
          format: int64
          example: 20
        low:
          type: integer
          format: int32
          example: 5
        time:
          type: string
          format: date-time
