openapi: 3.0.0
info:
  title: Currencies Exchange Rates
  version: 0.1.0
servers:
  - description: Production Server
    url: https://api.priceto.day/v1
paths:
  /symbols:
    get:
      summary: Get list of currencies
      responses:
        '200':
          description: Successful operation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Symbol'
        '500':
          description: Server error
  /latest/{base}/{symbol}:
    get:
      summary: Get latest price of a symbol
      parameters:
        - name: base
          in: path
          required: true
          example: irr
          schema:
            type: string
        - name: symbol
          in: path
          required: true
          example: usd
          schema:
            type: string
      responses:
        '200':
          description: successful operation
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/LatestResponse'
        '400':
          description: Invalid base or symbol
        '500':
          description: Server error
components:
  schemas:
    Symbol:
      type: object
      properties:
        success:
          type: boolean
          example: true
        symbols:
          type: array
          items:
            type: string
          example: ["usd", "eur", "irr"]
    LatestResponse:
      type: object
      properties:
        success:
          type: boolean
          example: true
        price:
          type: integer
          format: int64
          example: 10
        high:
          type: integer
          format: int64
          example: 20
        low:
          type: integer
          format: int32
          example: 5
        time:
          type: string
          format: date-time
